<div>
        <div class="login-page">
                <div *ngIf="showAlert" class="alert alert-danger" style="margin-top: 10px;" role="alert">
                        {{alertMsg}}
                </div>
                <div class="jumbotron" style="margin-top: 10px">
                        <form #frm="ngForm" (ngSubmit)="frm.form.valid && onSubmit() && userLogin(frm)" name="form">
                                <div class="row margin-20 form-group">
                                        <input type="email" name="userName" class="form-control" value=""
                                                placeholder="User Name" [ngModel]="userName" />
                                        <div *ngIf="frm.submitted && userName.invalid" class="invalid-feedback">
                                                <div *ngIf="userName.errors.email">Email must be a valid email address
                                                </div>
                                        </div>
                                </div>
                                <div class="row margin-20 form-group">
                                        <input type="password" name="password" class="form-control" value=""
                                                placeholder="Password" [ngModel]="password" />
                                </div>
                                <div class="row">
                                        <div class="col-md-6">
                                                <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                        <div class="col-md-6">
                                                <button type="button" class="btn btn-link" routerLink="/signup">Sign
                                                        Up</button>
                                        </div>
                                </div>
                        </form>
                </div>

        </div>
</div>